<button class="btn btn-dark mb-3" (click)="showUserForm = !showUserForm">
  Add User
</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
  <h2>Add User</h2>
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        name="firstName"
        id="firstName"
        [ngClass]="{'is-invalid': userfirstName.errors && userfirstName.touched }"
        [(ngModel)]="user.firstName"
        class="form-control"
        #userfirstName="ngModel"
        required
        minlength="2"
      />
      <div class="invalid-feedback" [hidden]="!userfirstName.errors?.required ">
        First Name is required
      </div>
      <div class="invalid-feedback" [hidden]="!userfirstName.errors?.minlength">
        First Name must be atleast 2 character length
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        name="lastName"
        id="lastName"
        [ngClass]="{'is-invalid': userLastName.errors && userLastName.touched }"
        [(ngModel)]="user.lastName"
        class="form-control"
        #userLastName="ngModel"
        required
        minlength="2"
      />
      <div class="invalid-feedback" [hidden]="!userLastName.errors?.required ">
        Last Name is required
      </div>
      <div class="invalid-feedback" [hidden]="!userLastName.errors?.minlength">
        Last Name must be atleast 2 character length
      </div>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input
        type="number"
        name="age"
        id="age"
        [(ngModel)]="user.age"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        [ngClass]="{'is-invalid': userEmail.errors && userEmail.touched }"
        [(ngModel)]="user.email"
        class="form-control"
        #userEmail="ngModel"
        required
        pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      />
      <div class="invalid-feedback" [hidden]="!userEmail.errors?.required ">
        Last Name is required
      </div>
      <div class="invalid-feedback" [hidden]="!userEmail.errors?.pattern">
        Email is not valid
      </div>
    </div>
    <button
      [disabled]="!userForm.form.valid"
      class="btn btn-block mb-3"
    >
      Add User
    </button>
  </form>
</div>

<h2>Users</h2>

<!-- <ol *ngIf="users.length > 0;else noUsers"> -->
<ol class="list-unstyled" *ngIf="loaded && users?.length > 0">
  <li
    class="card card-body mb-2"
    *ngFor="let user of users"
    [class.bg-light]="!user.isActive"
  >
    <h3>
      Name: {{ user.firstName }} {{ user.lastName }}
      <small *ngIf="showExpanded && user.age"
        ><button class="btn btn-dark btn-sm" (click)="toggleHide(user)">
          <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button
      ></small>
    </h3>
    <ul
      class="list-group"
      *ngIf="showExpanded && user.age && !user.hide"
    >
      <li class="list-group-item">Email {{ user.email }}</li>
      <li class="list-group-item">Registered: {{ user.registered | date }}</li>
    </ul>
  </li>
</ol>
<!--
<ng-template #noUsers>
  <h4>
    No Users to display
  </h4>
</ng-template> -->

<h4 *ngIf="users?.length == 0">No Users found</h4>

<h4 *ngIf="!loaded">Loading Users</h4>
