<app-post [currentPost]="currentPost" [isEdit]="isEdit" (newPost)="onNewPost($event)" (updatedPost)="updatedPost($event)"></app-post>
<h2>Posts</h2>
<div class="card mb-3" *ngFor="let post of posts">
    <div class="card-body">
        <h3>{{post.title}}</h3>
        <p>{{post.body}}</p>
        <hr>
        <button class="btn btn-danger" (click)="removePost(post)">
            <i class="fa fa-remove"></i>
        </button>
        <button class="btn btn-light" (click)="editPost(post)">
            <i class="fa fa-pencil"></i>
        </button>
    </div>
</div>