<form #postForm="ngForm">
    <div class="form-group">
        <label for="posttitle">Post Title</label>
        <input id="posttitle" name="title" type="text" class="form-control" [(ngModel)]="currentPost.title"
            [ngClass]="{'is-invalid': userPostTitle.errors && userPostTitle.touched }" #userPostTitle="ngModel"
            required>
        <div class="invalid-feedback" [hidden]="postForm.errors?.userPostTitle">
            Post Title is required
        </div>
    </div>
    <div class="form-group">
        <label for="postBody">Post Body</label>
        <textarea id="postBody" name="body" type="text" class="form-control" rows="3" [(ngModel)]="currentPost.body"
            [ngClass]="{'is-invalid':  userPostBody.errors && userPostBody.touched }" #userPostBody="ngModel"
            required></textarea>
        <div class="invalid-feedback" [hidden]="postForm.errors?.userPostBody">
            Post Title is required
        </div>
    </div>
    <input type="hidden" [(ngModel)]="currentPost.id" name="id">
    <button class="btn btn-primary" *ngIf="!isEdit" [disabled]="!postForm.form.valid" (click)="addPost()">Submit
        Post</button>
    <button class="btn btn-secondary" *ngIf="isEdit" (click)="updatePost()" [disabled]="!postForm.form.valid">Update
        Post</button>
</form>